langchain[all]
openai
python-dotenv
pypdf
tiktoken
ctransformers[cuda]
streamlit
chromadb
pysqlite-binary
pydantic
PyPDF2
PyCryptodome
accelerate
unstructured
rapidocr_pdf[onnxruntime]
pdfminer.six
pdf2image